//ディーラー情報
.p-dealer_list__item{
    background-color: #F4F2F3;
    box-sizing: border-box;
    *{
        box-sizing: border-box;
    }
    & + &{
        margin-top: 0.75rem;
    }
}

.p-dealer_list__item__inner{
    padding: 1.25rem;
    @include mq-down(lg){
        padding-bottom: 2.5rem;
        padding-top: 2.5rem;
    }
    @include mq-up(md){
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

// 都道府県
.p-dealer_list__item__todoufuken{
    font-size: 1.125rem !important;
}

//ディーラー名
.p-dealer_list__item__name{
    margin-top: 0 !important;
    font-size: 1.25rem !important;
    color: #0843A6;
    @include mq-down(md){
        margin-bottom: 1rem !important;
    }
}

//ディーラー情報
.p-dealer_list__item__info{
    border-style: solid;
    border-color: #E5E5E5;
    > p{
        margin-bottom: 0 !important;
    }
    @include mq-up(md){
        border-width: 0 0 0 1px;
        padding-left: 1rem;
    }
    @include mq-down(md){
        border-width: 1px 0 0;
    }
    @include mq-down(lg){
        align-content: space-between;
    }
}
//住所
.p-dealer_list__item__address{
    @include mq-down(md){
        padding-top: 1rem;
        font-size: 1rem !important;
    }
    @include mq-up(md){ 
        font-size: 1.125rem !important;
    }
}

//その他情報
.p-dealer_list__item__other{
    font-size: 0.875rem !important;
    color: #000;
    span{
        margin-right: 0.25em;
        color: #666;
    }
    @include mq-down(md){
        margin-top: 1em !important;
    }
    @include mq-up(md){
        display: flex;
        justify-content: space-between;
        margin-top: 0.75em !important;
    }       
    p{
        @include mq-down(md){
            margin-bottom: 0.75em !important;
        }
        @include mq-up(md){
            margin-bottom: 0 !important;
        }
    }
}
.p-dealer_list__item__open{
    margin-right: 2em;
}

//詳細への誘導
.p-dealer_list__item__detail{
    @include mq-down(md){
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1.5em;
    }
    a{
        @include mq-down(md){
            width: 48%;
        }
    }
}

//ボタン
.p-dealer_list__item__btn{
    position: relative;
    display: block;
    padding: 0.5em 1em; 
    text-align: center;
    font-size: 0.8125rem;
    text-decoration: none !important;
    line-height: 1;
    & + &{
        @include mq-up(md){
            margin-top: 0.75em;
        }
    }
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: skewX(-18deg);
        -ms-transform: skewX(-18deg);
        -webkit-transform: skewX(-18deg);
    }
    span{
        position: relative;
        display: block;
        z-index: 1;
    }
    //サイトへのボタン
    &--site{
       &::before{
            background-color: #0843A6;
        }
        span{
            color: #fff;
        }
    }
    //詳細情報へのボタン
    &--detail{
        &::before{
            background-color: #fff;
            border: 1px solid #000;
        }
        span{
            color: #000;
        }
    }
}