.is-style-anchor_links_row_style{
    display: flex;
    flex-wrap: wrap;
    *{
        box-sizing: border-box;
    }
    
    >li {
        margin: 0 !important;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        list-style: none !important;
        font-size: 1rem !important;        
        &::after{
            content:"";
            margin-right: 1em;
            margin-left: 1em;
            color: #E5E5E5;
        }
        &:not(:last-child){
            &::after{
                content:"/";

            }
        }
        a{
            display: inline-block;
            text-decoration: none;
            color: #000;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}