.is-style-grid_layout2_3_1{
	margin: -5px;
    *{
        box-sizing: border-box;
    }
    [class^="grids-a-"]{
        position: relative;
        border: 5px solid transparent; //余白用のborder
    }
    //画像ブロックのスタイル
    .wp-block-image{
        position: relative;
        margin-bottom: 0;
        &.is-style-grid-fit{
            @media screen and (min-width: 769px){
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                width: 100%;
                height: 100%; 
            }
        }
        &::before{
            content: "";
            display: block;
            padding-top: 75%;
        }
        &.is-style-grid-fit::before{
            @media screen and (min-width: 769px){
                padding: 0;
            } 
        }
        img{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
